{% extends 'layout.html' %}

{% block content %}

	<!-- Menu of tool pages -->
	<div class="container text-center">    
	  <h3>Links</h3><br>
	  <div class="row">
	    <div class="col-sm-4">
	      <a href="http://www.firstinmichigan.us/fll"><img src="/static/FIM.jpg" class="link-img" style="width:100%" alt="FIM">
	      <a href="http://www.firstinmichigan.us/fll" class="caption">FIRST in Michigan</a>
	    </div>
	    <div class="col-sm-4"> 
	      <a href="http://www.firstinspires.org/robotics/fll"><img src="/static/FIRST.jpg" class="link-img" style="width:100%" alt="FIRST">
	      <a href="http://www.firstinspires.org/robotics/fll" class="caption">FIRST</a>    
	    </div>
		<div class="col-sm-4"> 
	      <a href="http://www.education.lego.com"><img src="/static/LEGO.jpg" class="link-img" style="width:100%" alt="LEGO">
	      <a href="http://www.education.lego.com" class="caption">LEGO Education</a>    
	    </div>
	  </div>
	</div>

{% endblock content %}